.yuzo_related_post{

	clear: both;
	overflow: hidden;
	padding: 10px 0;
	margin: 10px 0;

}
.yuzo_related_post .clear{
	clear: both;
}
.yuzo_related_post h3 {margin: 0 !important}
.yuzo_related_post .relatedposts {margin: 0 0 20px 0; float: left; font-size: 12px;}  
.yuzo_related_post .relatedposts h3 {font-size: 20px; margin: 0 0 5px 0; }  
.yuzo_related_post .relatedthumb {margin: 0 1px 0 1px; float: left; }  
.yuzo_related_post .relatedthumb img {margin: 0 0 3px 0; padding: 0;}  
.yuzo_related_post .relatedthumb a {color :#333; text-decoration: none; display:block; padding: 4px 3px;background-image: none !important;background-color:transparent; }  
.yuzo_related_post .relatedthumb:hover {background-color: #F7F7F7; color: #000;}

/* style list */
.yuzo-list{
    overflow: hidden;
    clear: both;
    margin-bottom: 10px;
    width:100%;
    float:left
}
.yuzo-list .image-list{
    float: left;
}
.yuzo-list .image-list{
    display: inline;
    margin-right: 15px;
}
